<div class="col-md-6">
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="{{ user.photo | defaultImage  }}"
             alt=""
             class="img-rounded img-responsive" />
      </div>
      <div class="col-md-8">
        <h4>{{ user.name }}
          <i class="fa"
             ng-class="{'fa-female':user.sex == 'F', 'fa-male': user.sex == 'M'}"></i>
        </h4>
        <small>{{ user.city }}, {{ user.country }}
          <i class="fa fa-map-marker"></i>
        </small>
        <p>
          <i class="fa fa-envelope-o"></i>
          {{ user.email }}
          <br />
          <i class="fa fa-gift"></i>
          {{ user.birthdate | date:"longDate"}}
        </p>


        <a class="btn btn-default btn-sm"
           ui-sref="edit({email:user.email})">
          <i class="fa fa-pencil"></i>
          &nbsp;Edit
        </a>

        <a class="btn btn-danger btn-sm"
           ladda="isDeleting"
           ng-click="deleteUser()">
          <i class="fa fa-trash"></i>
          &nbsp;Delete
        </a>

      </div>
    </div>
  </div>
</div>