<div class="form-group">
  <label class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <input type="text"
           class="form-control"
           name="name"
           ng-model="$ctrl.person.name"
           required />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="email"
           name="email"
           class="form-control"
           ng-model="$ctrl.person.email"
           required />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Photo</label>
  <div class="col-sm-10">
    <input type="text"
           class="form-control"
           name="photo"
           ng-model="$ctrl.person.photo" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Sex</label>
  <div class="col-sm-10">

    <select name="sex"
            class="form-control"
            ng-model="$ctrl.person.sex"
            id="">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Birthday</label>
  <div class="col-sm-10">
    <input type="text"
           name="bday"
           class="form-control"
           ng-model="$ctrl.person.birthdate "
           bs-datepicker />
  </div>

</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Phone</label>
  <div class="col-sm-10">
    <input type="tel"
           name="phone"
           class="form-control"
           ng-model="$ctrl.person.phonenumber" />
  </div>

</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Address</label>
  <div class="col-sm-10">
    <input type="text"
           name="address"
           class="form-control"
           ng-model="$ctrl.person.address" />
  </div>

</div>

<div class="form-group">
  <label class="col-sm-2 control-label">City</label>
  <div class="col-sm-10">
    <input type="text"
           name="city"
           class="form-control"
           ng-model="$ctrl.person.city" />
  </div>

</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Country</label>
  <div class="col-sm-10">
    <input type="text"
           name="country"
           class="form-control"
           ng-model="$ctrl.person.country" />
  </div>

</div>