<div class="col-md-8 col-md-offset-2">
  <form class="form-horizontal"
        [formGroup]="personForm"
        (submit)="save()"
        novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">

        {{mode}}

        <div class="pull-right">
          <button #btnSubmit
                  class="btn btn-primary btn-sm"
                  type="submit">
              {{mode == 'Create' ? 'Create' : 'Save'}}
          </button>

          <button #btnDelete
                  *ngIf="mode == 'Edit'"
                  class="btn btn-danger btn-sm"
                  ng-click="remove()">Delete
          </button>
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="panel-body">
        
        

        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   name="name"
                   formControlName="name"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email"
                   name="email"
                   class="form-control"
                   formControlName="email"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Photo</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   name="photo"
                   formControlName="photo" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Sex</label>
          <div class="col-sm-10">
        
            <select name="sex"
                    class="form-control"
                    formControlName="sex"
                    id="">
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Birthday</label>
          <div class="col-sm-10">
            <input type="text"
                   name="bday"
                   class="form-control"
                   formControlName="birthdate"
                   bs-datepicker />
          </div>
        
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Phone</label>
          <div class="col-sm-10">
            <input type="tel"
                   name="phone"
                   class="form-control"
                   formControlName="phonenumber" />
          </div>
        
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <input type="text"
                   name="address"
                   class="form-control"
                   formControlName="address" />
          </div>
        
        </div>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <input type="text"
                   name="city"
                   class="form-control"
                   formControlName="city" />
          </div>
        
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Country</label>
          <div class="col-sm-10">
            <input type="text"
                   name="country"
                   class="form-control"
                   formControlName="country" />
          </div>
        
        </div>
        
                  






      </div>
    </div>
  </form>
</div>