<div class="col-md-8 col-md-offset-2">
  <form class="form-horizontal"
        (ngSubmit)="save()"
        novalidate>

    <div class="panel panel-default">
      <div class="panel-heading">

        {{mode}}

        <div class="pull-right">
          <button class="btn btn-primary btn-sm"
                  [ladda]="contacts.isSaving"
                  type="submit">
            <span>Save</span>
          </button>

          <button class="btn btn-danger btn-sm"
                  [ladda]="contacts.isDeleting"
                  *ngIf="mode === 'Edit'"
                  (click)="remove()">Delete
          </button>
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="panel-body">

        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   name="name"
                   [(ngModel)]="person.name"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email"
                   name="email"
                   class="form-control"
                   [(ngModel)]="person.email"
                   required />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Photo</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   name="photo"
                   [(ngModel)]="person.photo"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Sex</label>
          <div class="col-sm-10">

            <select name="sex"
                    class="form-control"
                    [(ngModel)]="person.sex"
                    id="">
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Birthday</label>
          <div class="col-sm-10">
            <input type="date"
                   name="bday"
                   class="form-control"
                   [(ngModel)]="person.birthdate "
            />
          </div>

        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Phone</label>
          <div class="col-sm-10">
            <input type="tel"
                   name="phone"
                   class="form-control"
                   [(ngModel)]="person.phonenumber"
            />
          </div>

        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <input type="text"
                   name="address"
                   class="form-control"
                   [(ngModel)]="person.address"
            />
          </div>

        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <input type="text"
                   name="city"
                   class="form-control"
                   [(ngModel)]="person.city"
            />
          </div>

        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Country</label>
          <div class="col-sm-10">
            <input type="text"
                   name="country"
                   class="form-control"
                   [(ngModel)]="person.country"
            />
          </div>

        </div>


      </div>
    </div>
  </form>
</div>