<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Contacts</a>
        </div>
        <search></search>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a [routerLink]="['/list']">Search</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/create']">Create</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container main-content">
<!-- <toaster-container></toaster-container> -->
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>